################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RWAntiCheat
/.vs/RWAntiCheat/FileContentIndex
/.vs/RWAntiCheat/FileContentIndex/1c5dec1d-d9dc-4998-adce-0f9a6bf8236c.vsidx
/.vs/RWAntiCheat/FileContentIndex/49dbb6f1-4c3a-4b3a-9ccf-c3b492dff2c7.vsidx
/.vs/RWAntiCheat/FileContentIndex/4d03e31b-191f-43cf-8591-9bb6b6b6cb0c.vsidx
/.vs/RWAntiCheat/FileContentIndex/adaef845-f42c-45d4-ae74-69824ab9fe84.vsidx
/.vs/RWAntiCheat/FileContentIndex/df076abc-18b3-4d66-b51d-06707b66e46d.vsidx
/.vs/RWAntiCheat/v17
/.vs/RWAntiCheat/v17/.suo
/.vs/RWAntiCheat/v17/.wsuo
/.vs/RWAntiCheat/v17/Browse.VC.db
/.vs/RWAntiCheat/v17/Browse.VC.db-shm
/.vs/RWAntiCheat/v17/Browse.VC.db-wal
/.vs/RWAntiCheat/v17/Browse.VC.opendb
/.vs/RWAntiCheat/v17/DocumentLayout.backup.json
/.vs/RWAntiCheat/v17/DocumentLayout.json
/.vs/RWAntiCheat/v17/ipch
/.vs/RWAntiCheat/v17/ipch/98585e1cc99119a9.ipch
/.vs/RWAntiCheat/v17/ipch/a3e47a582f67df76.ipch
/.vs/RWAntiCheat/v17/ipch/AutoPCH
/.vs/RWAntiCheat/v17/ipch/AutoPCH/2dc117549421fde0
/.vs/RWAntiCheat/v17/ipch/AutoPCH/2dc117549421fde0/MAIN.ipch
/.vs/RWAntiCheat/v17/ipch/AutoPCH/a4edccbc442330e2
/.vs/RWAntiCheat/v17/ipch/AutoPCH/a4edccbc442330e2/ANTICHEAT.ipch
/RWAntiCheat/x64/Debug
/x64/Debug
/.vs
/.vs/VSWorkspaceState.json
/Debug
/Debug/RWAntiCheat.dll
/Debug/RWAntiCheat.exp
/Debug/RWAntiCheat.lib
/Debug/RWAntiCheat.pdb
/RWAntiCheat/Debug
/RWAntiCheat/Debug/AntiCheat.obj
/RWAntiCheat/Debug/Main.obj
/RWAntiCheat/Debug/RWAntiCheat.dll.recipe
/RWAntiCheat/Debug/RWAntiCheat.ilk
/RWAntiCheat/Debug/RWAntiCheat.log
/RWAntiCheat/Debug/RWAntiCheat.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/CL.command.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/Cl.items.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/CL.read.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/CL.write.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/link.command.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/link.read.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/link.secondary.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/link.write.1.tlog
/RWAntiCheat/Debug/RWAntiCheat.tlog/RWAntiCheat.lastbuildstate
/RWAntiCheat/Debug/vc143.idb
/RWAntiCheat/Debug/vc143.pdb
